* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}

.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image: url(https://i.pinimg.com/originals/f4/c6/4e/f4c64ec47c2ee48b3edb65e590a8d2c9.jpg);
	-webkit-background-size: cover;
	background-size: 500px;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #747373;
}
.content-area {
	width:2000px;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: 5000px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

@media (max-width: 500px) {
    header {
        height: 50px;
        padding: 0 10px;
    }
    .logo a {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .banner-area {
        height: 200px;
        top: 50px;
    }
    .banner-area h2 {
        font-size: 32px;
        padding: 10px;
    }
    .content-area {
        top: 250px;
    }
    .content-area p {
        font-size: 14px;
        padding: 5% 0;
    }
    .content-area h2 {
        font-size: 24px;
    }
}